body {
  margin: 0;
}

header {
  background-color: lightskyblue;
}

main {
  background-color: lightcyan;
}

footer {
  background-color: lightblue;
}

#site {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
